@model IEnumerable<StoreParser.Models.Product>

@{ ViewData["Title"] = "Parsed priducts"; }

<h1 class="header-light">Store: <code>https://www.prodj.com.ua/studio-monitors/</code></h1>
<hr />


<h2 class="header-light text-center">List of products</h2>

<div class="container">
    <div ">
        @foreach (var product in Model)
        {
            @if (product.Name != null)
            {
                <div class="col-xs-12 col-md-6">
                    <div class="card">
                        <div style="height:120px">
                            @if (@product.Images.Count() > 0)
                            {
                                <p>
                                    @for (int i = 0; i < product.Images.Count() && i < 3; i++)
                                    {
                                        @if (product.Images[i].Data != null)
                                        {

                                            <img style="max-width:120px; max-height:120px;" src="data:image/jpeg;base64,@(Convert.ToBase64String(product.Images[i].Data))" alt="Product image" />
                                        }
                                    }
                                </p>
                            }
                        </div>
                        <h3>
                            Prices:
                        </h3>
                        @foreach (var price in product.Prices)
                        {
                            <p>
                                <span class="label label-danger">@price.ProductPrice </span>
                                <span>&nbsp; - @price.PriceLastDate</span>
                            </p>
                        }
                        <div class="card-body">
                            <h3 class="card-title">@product.Name</h3>
                            <p class="card-text">
                                @if (product.Description.Length > 150)
                                {
                                    @product.Description.Substring(0, 150)
                                    <a href="home/getproduct/@product.Id"><span class="link">more...</span></a>
                                }
                            </p>
                        </div>
                        <a href="home/getproduct/@product.Id">
                            <button class="btn btn-success">Go to product</button>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>
